.pluginClass {
    color: #fff;
    text-decoration: none;
    background-color: #33aa33;
    display: block;
    width: 150px;
    height: 150px;
    /* 円形にする */
    border-radius: 50%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    position:relative;
    text-align: center;
}
.vulnerabilityClass {
    color: #fff;
    text-decoration: none;
    background-color: #3333aa;
    display: block;
    width: 150px;
    height: 150px;
    /* 円形にする */
    border-radius: 50%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    position:relative;
    z-index: -1;
    font-size: 10px;
    text-align: center;
}
.pluginClass p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.vulnerabilityClass p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}